.glass{
  background: rgba( 225, 225, 225, 0.05 );
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 8px;
  border: 1px solid rgba( 225, 225, 225, 0.1 );
  /* border: 1px solid rgba( 162, 163, 165, 0.18 ); */
}

.glass-fluid{
  background: rgba( 225, 225, 225, 0.05 );
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.2 );
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  border-radius: 0px;
  border: 1px solid rgba( 225, 225, 225, 0.1 );
}

#story{
  /* background-color: #fff !important; */
  margin: auto !important;
  /* border: 1px solid #dbdbdb !important; */
  /* height: 110px ; */
  border-radius: 0px !important;
  overflow: hidden !important;
  position: relative !important;
}

.story{
  border-radius: 50% !important;
}

.story-container ul{
  list-style-type: none !important;
  display: flex !important;
  overflow-y: auto !important;
  padding: 15px !important;
}

.story-container ul li{
  padding: 0 10px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
.story-container ul span{
  color: #fbfbfb;
}

.story-container ul li .story{
  padding: 2px !important;
  /* background: #000; */
  background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
}
