{% load static %}

<!doctype html>
<html lang = "en">
	<head>
		{# metaTags #}
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="{% block description %} {% endblock description %}">
		{# Favicon #}
			<link rel="icon" href="{% static 'media/AAAI_Logo.png' %}" type="image/png">
		{# bootstrap #}
			<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
		{# icons #}
			<link rel="stylesheet" href="{% static 'css/fontawesome_free/css/all.min.css' %}">
		{# google fonts #}
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
		{# Other CSS #}
			{% block css %} {% endblock css %}
		{# Custom CSS #}
			<link rel="stylesheet" href="{% static 'css/navbar.css' %}" type="text/css">
			<link rel="stylesheet" href="{% static 'css/accounts/style.css' %}" type="text/css">
		{# pageTitle #}
			<title>{% block pageTitle %} {% endblock pageTitle %}</title>
	</head>

	<body>

		{# Accounts Section #}
			{% block bodyContent %}

			{% endblock bodyContent %}

		{#Scripts #}
			<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
			<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
			<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

	</body>

</html>
