<script type="text/javascript">
	function acceptFriendRequest(friend_request_id, uiUpdateFunction){
		var url = "{% url 'Friends:accept-invite' friend_request_id=8658586686568656582345644565857978954 %}".replace("8658586686568656582345644565857978954", friend_request_id)
		$.ajax({
			type: 'GET',
			dataType: "json",
			url: url,
			timeout: 5000,
			success: function(data) {
				if(data['response'] == "Friend Request Accepted."){
				}
				else if(data['response'] != null){
					alert(data['response'])
				}
			},
			error: function(data) {
				alert("Something went wrong.")
			},
			complete: function(data){
				uiUpdateFunction()
			}
		});
	}
	
</script>