<script type="text/javascript">
  var cropper;
  var imageFile;
  var base64ImageString;
  var cropX;
  var cropY;
  var cropWidth;
  var cropHeight;

  // Btn trigger
  // read uploaded image
  function readIMG(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            var image = e.target.result
            imageField = document.getElementById('crop-avatar')
            // var imageField = $('#crop-avatar')
            $('#crop-avatar').attr('src', image);
            cropper = new Cropper(imageField, {
              aspectRatio : 1/1,
              crop(event){
                setImageCropProperties(
                  image,
                  event.detail.x,
                  event.detail.y,
                  event.detail.width,
                  event.detail.height
                )
              }
            })
        };
        reader.readAsDataURL(input.files[0]);
      }
    }

    // return null if invalid or base64String if valid
    function isImageSizeValid(image){
      console.log("max size: {{DATA_UPLOAD_MAX_MEMORY_SIZE}}")
      var startIndex = image.indexOf("base64,") + 7;
      var base64str = image.substr(startIndex);
      var decoded = atob(base64str);
      console.log("FileSize: " + decoded.length);
      if(decoded.length >= "{{DATA_UPLOAD_MAX_MEMORY_SIZE}}"){
        return null
      }
      return base64str
    }

    function cropImage(image, x, y, width, height){
      // console.log(x, y, width, height)
      base64ImageString = isImageSizeValid(image)

      if(base64ImageString != null){
        var requestData = {
          "csrfmiddlewaretoken": "{{ csrf_token }}",
          "image": base64ImageString,
          "cropX": cropX,
          "cropY": cropY,
          "cropWidth": cropWidth,
          "cropHeight": cropHeight,
        }

        $.ajax({
          type: 'POST',
          dataType: "json",
          url: "{% url 'crop-avatar' %}",
          data: requestData,
          timeout: 10000,
          success: function(data) {
            if(data.result == "success"){
              $('.close').click();
              window.location.reload()
            }
            else if(data.result == "error"){
              alert(data.exception)
              $('.close').click();
              window.location.reload()
            }
          },
          error: function(data) {
            console.error("ERROR...", data)
          }
        });
      }
      else{
        alert("Upload an image smaller than 10 MB");
        $('.close').click();
      }
    }

    function setImageCropProperties(image, x, y, width, height){
       imageFile = image
       cropX = x
       cropY = y
       cropWidth = width
       cropHeight = height
    }

    $('.choose-avatar').click(function(e){
      e.preventDefault()
      $('#avatar').click();

      $("#avatar").change(function(){
         readIMG(this);
         $('#cropModal').show().removeClass('fade');
      });
    });

    $('.close').click(function(e){
      e.preventDefault()
      $('#cropModal').addClass('fade').hide();
      window.location.reload()
    });

    $('#confirm-crop').click(function(e){
      e.preventDefault()
      cropImage(imageFile, cropX, cropY, cropWidth, cropHeight)
    });
</script>
