{% extends "Profiles/base_profile_template.html" %}
{% load static %}
{% block pageTitle %} Change Password | Alumni Association | Alumni Acharya | AAAI {% endblock pageTitle %}

{% block bodyContent %}

<main class="">
  <section class="custom-main">
    <div class="container my-5 p-3 glass">
      <div class="row">

        <!-- List group -->
        <div class="col-4 d-none d-md-block">
          <ul class="list-group">
            <a href="{% url 'edit-profile' %}"><li class="list-group-item">Edit Profile</li></a>
            <li class="list-group-item active">Change Password</li>
            <!-- <li class="list-group-item"></li> -->
          </ul>
        </div>

        <!-- Content  -->
        <div class="col-sm-12 col-md-8">
        <!-- Tab panes -->
          <div class="glass p-3 text-white">
            <article class="">

              <form class="row text-white {% if form.errors %} gy-3 {% else %} g-4 {% endif %}" action="" enctype="multipart/form-data" method="POST" role="presentation" novalidate>
                {% csrf_token %}
                <!-- User -->
                <div class="col-12">
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="ml-3 mt-2">
                      <!-- Name, Username -->
                      <div class="">
                        <h5 class="mb-0 ml-1">{{user.first_name}} {{user.last_name}} <small class="text-sm">@<em> {{user.username}}</em></small></h5>
                      </div>
                      <div class="">
                        <button class="btn btn-link px-1 choose-avatar"><small>Change Profile Photo</small></button>
                      </div>
                    </div>
                    <!-- Avatar -->
                    <!-- <div class="mr-3">
                      <button class="btn btn-link m-0 avatar-btn choose-avatar" title="Change Profile Photo">
                        <img class="avatar-btn-img hover-overlay" src="{{profile.avatar.url}}" alt="Change Profile Photo" width="50" height="50">
                      </button>
                      <p class=""><em>Currently: <a href="{{profile.avatar.url}}" class="text-muted">{{profileForm.avatar.name}}</a></em></p>
                      <input accept="image/jpeg, image/png, image/jpg" id="avatar" name="avatar" type="file" style="display: none !important">
                    </div> -->
                  </div>
                </div>

                <!-- Old Password -->
                <div class="col-md-12">
                  <div class="input-group form-outline {% if form.old_password.errors %} m-0 {% else %} mb-2 {% endif %}">
                    <span class="input-group-text text-white-50" id="user-addon"><i class="fas fa-user-secret"></i></span>
                    <input type="password" class="form-control {% if form.old_password.errors %} is-invalid m-0 {% endif %}"
                           id="old_password" name="old_password" autocomplete="current-password" spellcheck="true" autofocus required>
                    <label for="first_name" class="form-label text-white-50">Old password</label>
                  </div>
                  {% for err in form.old_password.errors %}<div class="mb-1 text-danger"><small> {{err}} </small></div>{% endfor %}
                </div>

                <!-- New Password  -->
                <div class="col-md-12">
                  <div class="input-group form-outline {% if form.new_password1.errors %} m-0 {% else %} mb-2 {% endif %}">
                    <span class="input-group-text text-white-50" id="user-addon"><i class="fas fa-user-secret"></i></span>
                    <input type="password" class="form-control {% if form.new_password1.errors %} is-invalid m-0 {% endif %}"
                           id="new_password1" name="new_password1" autocomplete="new-password" spellcheck="true" required>
                    <label for="new_password1" class="form-label text-white-50">New password</label>
                  </div>
                  {% for err in form.new_password1.errors %}<div class="mb-1 text-danger"><small> {{err}} </small></div>{% endfor %}
                </div>

                <!-- New Password Confirm -->
                <div class="col-md-12">
                  <div class="input-group form-outline {% if form.new_password2.errors %} m-0 {% else %} mb-2 {% endif %}">
                    <span class="input-group-text text-white-50" id="user-addon"><i class="fas fa-user-secret"></i></span>
                    <input type="password" class="form-control {% if form.new_password2.errors %} is-invalid m-0 {% endif %}"
                           id="new_password2" name="new_password2" autocomplete="new-password" spellcheck="true" required>
                    <label for="new_password2" class="form-label text-white-50">Confirm new password</label>
                  </div>
                  {% for err in form.new_password2.errors %}<div class="mb-1 text-danger"><small> {{err}} </small></div>{% endfor %}
                </div>

                <!-- Submit Btn -->
                <div class="modal-footer border-0">
                  <a href="{% url 'password_reset' %}" class="btn btn-link">Forgot password ?</a>
                  <button type="submit" class="btn btn-info"><i class="fas fa-check mr-2"></i>Update</button>
                </div>
              </form>

            </article>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock bodyContent %}
