{% extends "Accounts/base_accounts_template.html" %}
{% load static %}
{% block pageTitle %} Change Password | Alumni Association | Alumni Acharya | AAAI {% endblock pageTitle %}

{% block bodyContent %}

{% include "Accounts/navbar.html" %}
<main class="">
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="mt-5">
          <div class="card w-100 p-3 glass">
            <div class="card-header"><h4><i class="fas fa-mail-bulk"></i> <strong>Password reset sent</strong></h4></div>
            <div class="card-body">
              <p class="card-text alert alert-success">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
              </p>
              <p class="card-text">
                <small>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
</main>

{% endblock bodyContent %}
