{% extends "Accounts/base_accounts_template.html" %}
{% load static %}
{% block pageTitle %} Change Password | Alumni Association | Alumni Acharya | AAAI {% endblock pageTitle %}

{% block bodyContent %}

{% include "Accounts/navbar.html" %}
<main class="">
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="mt-5">
          <div class="card text-center glass">
            <div class="card-header mt-2"><h4><i class="fas fa-user-lock"></i> <strong>Trouble Logging in?</strong></h4></div>
            <div class="card-body">
              <p class="card-text">
                Enter your email address below, and we’ll email instructions for setting a new one.
              </p>

              <form class="row row-cols-lg-auto g-2 align-items-center" action="" method="post" novalidate>
                {% csrf_token %}
                <div class="col-12 ml-lg-4">
                  <div class="input-group form-outline ">
                    <span class="input-group-text" id="www-addon"><i class="fas fa-envelope"></i></span>
                    <input type="email" id="email" name="email" autocomplete="email" maxlength="254"
                            class="form-control {% if form.email.errors %} is-invalid m-0 {% endif %}"
                            {% if form.is_bound %} value="{{ form.email.value }}" {% endif %} required>
                    <label class="form-label" for="email">Email</label>
                  </div>
                </div>

                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </div>
                <div class="">
                 {% for err in form.email.errors %}<div class="text-danger pl-4"><small> {{err}} </small></div>{% endfor %}
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

  </section>
</main>

{% endblock bodyContent %}
