{% extends "Profiles/base_profile_template.html" %}
{% load static %}
{% block pageTitle %} Change Password | Alumni Association | Alumni Acharya | AAAI {% endblock pageTitle %}

{% block bodyContent %}

<main class="custom-main">
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="mt-5">
          <div class="card text-white w-100 p-3 glass">

            <div class="card-body glass mt-0">
              <div class="card-header mb-0"><h4> <strong>Password change successful</strong></h4></div>
              <p class="card-text mx-3 alert alert-success">
                Your password was changed.
              </p>
              <a href="{% url 'Accounts:users-profile' user.username %}" class="btn btn-primary ml-3">Go Back</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
</main>

{% endblock bodyContent %}
