{% extends "Accounts/base_accounts_template.html" %}
{% load static %}
{% block pageTitle %} Change Password | Alumni Association | Alumni Acharya | AAAI {% endblock pageTitle %}

{% block bodyContent %}

{% include "Accounts/navbar.html" %}
<main class="">
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="mt-5">
          <div class="card glass">
            <div class="card-header text-center mt-2"><h4><i class="fas fa-unlock"></i> <strong>Enter new passwords.</strong></h4></div>
            <div class="card-body">
              <p class="card-text text-center">
                Please enter your new password twice so we can verify you typed it in correctly.
              </p>

              <form class="row row-cols-lg-auto g-2 align-items-center" action="" method="post" novalidate>
                {% csrf_token %}

                <!-- Password input -->
                <div class="input-group form-outline mb-2">
                  <span class="input-group-text" id="eye-addon"><i class="fas fa-eye"></i></span>
                  <input type="password" id="new_password1" name="new_password1"
                          class="form-control {% if form.new_password1.errors %} is-invalid  m-0 {% endif %}" autocomplete="new-password" required>
                  <label class="form-label" for="new_password1">Password</label>
                </div>


                <!-- Repeat Password input -->
                <div class="input-group form-outline mb-2">
                  <span class="input-group-text" id="eye-addon"><i class="fas fa-eye"></i></span>
                  <input type="password" id="new_password2"name="new_password2"
                          class="form-control {% if form.new_password2.errors %} is-invalid m-0 {% endif %}" autocomplete="new-password" required>
                  <label class="form-label" for="new_password2">Repeat password</label>
                </div>

                {% for err in form.errors %}
                  <div class="alert alert-danger" role="alert"">
                    {% for err in form.new_password1.errors %}<small> {{err}} </small>{% endfor %}
                    {% for err in form.new_password2.errors %}<small> {{err}} </small>{% endfor %}
                  </div>
                {% endfor %}

                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">Change my password</button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>

  </section>
</main>

{% endblock bodyContent %}
