{% extends "Accounts/base_accounts_template.html" %}
{% load static %}
{% block pageTitle %} Change Password | Alumni Association | Alumni Acharya | AAAI {% endblock pageTitle %}

{% block bodyContent %}

{% include "Accounts/navbar.html" %}
<main class="">
  <section class="container-fluid">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="mt-5">
          <div class="card w-100 p-3 glass">
            <div class="card-header"><h4><i class="fas fa-lock-open"></i> <strong>Password reset complete</strong></h4></div>
            <div class="card-body">
              <p class="card-text alert alert-success">
                Your password has been set. You may go ahead and log in now.
              </p>
              <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </section>
</main>

{% endblock bodyContent %}
